* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

.timer {
  display: flex;

  width: 70px;
}

.field {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.field:not(:last-child) {
  margin-right: 8px;
}

.value {
  font-size: 24px;
}

.label {
  font-size: 14px;
  font-weight: 500;
}